<div>
  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Testees</div>
    <div class="panel-body">
      <!-- <p><a href>Add</a></p> -->
      <form class="form-horizontal" method="post">
        <fieldset>

        <!-- Form Name -->
        <!-- <legend>Add Testee</legend> -->

        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="user_secret">User Secret</label>  
          <div class="col-md-5">
          <input id="user_secret" name="user_secret" type="text" placeholder="" class="form-control input-md">
          <span class="help-block">Specified user's secret</span>  
          </div>
        </div>

        <!-- Select Basic -->
        <div class="form-group">
          <label class="col-md-4 control-label" for="user_number">Testee Number</label>
          <div class="col-md-5">
            <select id="user_number" name="user_number" class="form-control">
              <option value="0">0</option>
              <option value="5">5</option>
              <option value="10">10</option>
              <option value="15">15</option>
              <option value="20">20</option>
            </select>
          </div>
        </div>

        <input type="hidden" id="add_user" name="action_type" value="new_user">

        <!-- Button -->
        <div class="form-group">
          <label class="col-md-4 control-label" for="submit_add_testee"></label>
          <div class="col-md-4">
            <button id="submit_add_testee" name="submit_add_testee" class="btn btn-primary">Submit</button>
          </div>
        </div>

        </fieldset>
      </form>

    </div>
    
    
    <!-- Table -->
    <table class="table" id="testee_table">
      <thead>
        <tr>
          <th>Username</th>
          <th>QRCode</th>
          <th>Active</th>
          <th>Plan Count</th>
          <th>Record Count</th>
        </tr>
      </thead>

      <tbody>
        {% for testee in testees %}
          <tr>
            <td>{{ testee.name }}</td>
            <td class="qrcode-thumb-td"><img class="qrcode-thumb" src="{{ testee.qr_code }}" style="width: 40px; height: 40px"></td>
            <td>{{ testee.is_active }}</td>
            <td>{{ testee.plan_count }}</td>
            <td>{{ testee.record_count }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>