<div>
  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Schedules</div>
    <div class="panel-body">
      <a href="/mypage/schedule?action=create&pid={{ project.id }}">Create new schedule</a>
    </div>
    
    <!-- Table -->
    <table class="table">
      <thead>
        <tr>
          <th>Schedule Name</th>
          <th>Date Created</th>
          <th>Used Times</th>
        </tr>
      </thead>

      <tbody>
        {% for schedule in schedules %}
          <tr>
            <td><a href="/mypage/schedule?action=view&sid={{ schedule.id }}">
                {{ schedule.name }}
                <!-- <div style="height:100%;width:100%"> -->
                <!-- </div> -->
              </a>
            </td>
            <td>{{ schedule.date_created }}</td>
            <td>{{ schedule.schedule_plans.count }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>