<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Record</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/snapex/css/mypage.css" rel="stylesheet">
    <link href="/static/snapex/css/base.css" rel="stylesheet">


  </head>

  <body>
    
    <div class="container">
      <div class="row">
        <div class="col-md-9" role="main">
          <!-- Header -->
          <div class="page-header">
            {{ record }}
          </div>
          
          <!-- Record -->
          <div id="record_container"></div>
            <h3>Test</h3>
        </div>  
      </div>
    </div>

    <script src="/static/snapex/js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript">
      // var record = {{ record }};
      // console.log(record.length)
      // // build record forms
      // record.forEach(function(e){

      // });
    </script>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>
