<!doctype html>
<html>
<head>
  <title>Create Survey</title>
  <meta name="description" content="">
  <link rel="stylesheet" href="/static/snapex/css/vendor.css" />
  <link rel="stylesheet" href="/static/snapex/css/formbuilder.css" />
  <!-- Bootstrap core CSS -->
  <link href="/static/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <style>
  * {
    box-sizing: border-box;
  }

  body {
    background-color: #444;
    font-family: sans-serif;
  }

  .fb-main {
    background-color: #fff;
    border-radius: 5px;
    min-height: 600px;
  }

  input[type=text] {
    height: 26px;
    margin-bottom: 3px;
  }

  select {
    margin-bottom: 5px;
    font-size: 40px;
  }

  .survey-name-wrapper {
    position: relative;
    top: 10px;
  }
  </style>
</head>
<body>
  <div class='fb-main' id="fb_main">
  </div>

  <script src="/static/snapex/js/vendor.js"></script>
  <script src="/static/snapex/js/formbuilder.js"></script>

  <script>
    $(function(){
      var fb,
          fb_output,
          project_id = {{ project.id }},
          submit_button,
          survey_name;

      fb = new Formbuilder({
        selector: '.fb-main',
        bootstrapData: []
      });

      fb.on('save', function(payload){
        fb_output = payload;
        console.log(payload);
      })

      tmp = '<div class="survey-name-wrapper" id="survey_name_wrapper"><form class="form-horizontal"><fieldset><div class="form-group"><label class="col-md-4 control-label" for="survey_name">Survey Name</label><div class="col-md-5"><input id="survey_name" name="survey_name" type="text" placeholder="" class="form-control input-md" required=""></div></div></fieldset></form></div>';
      $("#fb_main").prepend($(tmp));

      submit_button.onclick = function() {
        submit_button = $("#submit_survey")[0];
        name = $("#survey_name")[0].value;
        if (name) {
          fb_output.survey_name = name;
          fb_output.project_id = project_id;
          $.ajax({
            url: "/api/v0/create_survey",
            type: "post",
            data: JSON.stringfy({data: fb_output}),
            contentType: "application/json",
            dataType: "json",
          }).done(function(data){
            if (data && data.status===200) {
              window.location.replace("http://snapex.duapp.com/mypage/project?pid={{ project.id }}");
            } else {
              // alert("error when submitting survey " + data.toString());
              console.log(data)
            }
          });
        }
      }
    });
  </script>

</body>
</html>